body {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.test {

    box-sizing: border-box;
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 0px;
    
}

#container {
    display: flex;
    justify-content: center;
    align-items: space-around;
    border: 1px, black, solid;
    flex-wrap: wrap;
    margin: 1px;
    margin-top: 20px;
    padding: 0px;
}